// btn
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  transition: background-color .2s linear, color .2s linear;
  column-gap: 10px;
  height: 48px;
  padding-left: 24px;
  padding-right: 24px;
  cursor: pointer;
  font-size: 15px;
  letter-spacing: 0.05em;

  @media(max-width: 1400px) {
    font-size: 12px;
    padding-left: 16px;
    padding-right: 16px;
  }

  &--lg {
    height: 55px;

    @media(max-width: 991px) {
      height: 50px;
    }
  }

  &--white {
    background-color: #fff;
  }

  &--black {
    background-color: var(--main-color);
    color: #fff;

    &:hover {
      background-color: rgba($color: #000000, $alpha: .8);
    }
  }

  svg {
    width: 16px;
    height: 16px;
    stroke: #000;
  }

  &--white-transpanrent {
    border: 1px solid var(--white);
    color: #fff;

    &:hover {
      background-color: #fff;
      color: var(--main-color);
    }
  }

  &--black-transparent {
    border: 1px solid var(--main-color);
    color: var(--main-color);

    svg {
      fill: transparent;
      stroke-width: 2px;
    }

    &:hover {
      background-color: var(--main-color);
      color: var(--white);

      svg {
        stroke: #fff;
      }
    }

  }

  &--blur-light {
    backdrop-filter: blur(15px);
    background: rgba(0, 0, 0, 0.1);
    color: #fff;
  }

  &.min-w-255 {
    min-width: 255px;

    &.min-w-extra-200 {
      @media(max-width: 1600px) {
        min-width: 200px;
      }

      @media(max-width: 1400px) {
        min-width: 215px;
      }
    }
  }

  &.min-w-230 {
    min-width: 230px;
  }

  &.min-w-240 {
    min-width: 240px;
  }

  &.min-w-270 {
    min-width: 270px;
  }

  &.min-w-295 {
    min-width: 295px;

    &.min-w-lg-280 {
      @media(max-width: 991px) {
        min-width: 280px;
      }
    }
  }

  &.h-37 {
    height: 37px;
  }

  &.h-64 {
    height: 64px;

    &.h-xxl-48 {
      @media(max-width: 1400px) {
        height: 48px;
      }
    }

    &.h-lg-48 {
      @media(max-width: 991px) {
        height: 48px;
      }
    }
  }

  &.fz-22 {
    font-size: 22px;
    line-height: normal;

    &.fz-xxl-20 {
      @media(max-width: 1400px) {
        font-size: 20px;
      }
    }

    &.fz-lg-20 {
      @media(max-width: 991px) {
        font-size: 20px;
      }
    }
  }

  &.fz-28 {
    font-size: 28px;
    line-height: normal;

    &.fz-lg-20 {
      @media(max-width: 991px) {
        font-size: 20px;
      }
    }
  }

  &.fz-14 {
    font-size: 14px;

    &.fz-xxl-13 {
      @media(max-width: 1400px) {
        font-size: 13px;
      }
    }

    &.fz-md-12 {
      @media(max-width: 767px) {
        font-size: 12px;
      }
    }
  }

  &.px-12 {
    padding-left: 12px;
    padding-right: 12px;
  }

  &.w-100 {
    width: 100%;
  }

  &.w-sm-100 {
    @media(max-width: 575px) {
      width: 100%;
    }
  }
  &.fz-xxl-14 {
    @media(max-width: 1400px){
      font-size: 14px;
    }
  }
}

.productCardWishlistBtn {
  position: absolute;
  left: 20px;
  top: 20px;

  @media(max-width: 1400px) {
    top: 10px;
    left: 10px;
  }

  &:hover {
    svg {
      fill: #000;
    }
  }

  svg {
    width: 20px;
    height: 20px;
    fill: transparent;
    stroke: #000;
  }

  &.active {
    svg {
      fill: #000;
    }
  }
}

.searchBtn {
  &.position-absolute {
    top: calc(50% - 3px);
    transform: translateY(-50%);
    right: 0;
  }
}

.shopTypeBtn {
  width: 37px;
  height: 37px;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  @media(max-width: 1400px){
    width: 28px;
    height: 28px;
  }

  &:hover {
    svg {
      fill: #000;
    }
  }

  svg {
    width: 18px;
    height: 18px;
    fill: #8c8c8c;
    @media(max-width: 1400px){
      width: 14px;
      height: 14px;
    }
  }

  &.active {
    border-color: #000;

    svg {
      fill: #000;
    }
  }
}

.promoBtn {
  background-color: #000;
  width: 53px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color .2s linear;

  &:hover {
    background-color: rgba($color: #000000, $alpha: .8);
  }
}