// btn
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  transition: background-color .2s linear, color .2s linear;
  column-gap: 10px;
  height: 52px;
  padding-left: 24px;
  padding-right: 24px;
  cursor: pointer;
  font-size: 15px;
  letter-spacing: 0.05em;

  &--lg {
    height: 65px;

    @media(max-width: 991px) {
      height: 50px;
    }
  }

  &--white {
    background-color: #fff;
  }

  &--black {
    background-color: var(--main-color);
    color: #fff;

    &:hover {
      background-color: rgba($color: #000000, $alpha: .8);
    }
  }

  svg {
    width: 16px;
    height: 16px;
    stroke: #000;
  }

  &--white-transpanrent {
    border: 1px solid var(--white);
    color: #fff;

    &:hover {
      background-color: #fff;
      color: var(--main-color);
    }
  }

  &--black-transparent {
    border: 1px solid var(--main-color);
    color: var(--main-color);

    svg {
      fill: transparent;
      stroke-width: 2px;
    }

    &:hover {
      background-color: var(--main-color);
      color: var(--white);
      svg {
        stroke: #fff;
      }
    }

  }

  &--blur-light {
    backdrop-filter: blur(15px);
    background: rgba(0, 0, 0, 0.1);
    color: #fff;
  }

  &.min-w-255 {
    min-width: 255px;
  }

  &.min-w-270 {
    min-width: 270px;
  }

  &.min-w-295 {
    min-width: 295px;
  }

  &.h-37 {
    height: 37px;
  }

  &.h-64 {
    height: 64px;
  }

  &.fz-28 {
    font-size: 28px;
    line-height: normal;
  }

  &.fz-14 {
    font-size: 14px;
  }

  &.px-12 {
    padding-left: 12px;
    padding-right: 12px;
  }
  &.w-100 {
    width: 100%;
  }
}

.productCardWishlistBtn {
  position: absolute;
  left: 20px;
  top: 20px;

  &:hover {
    svg {
      fill: #000;
    }
  }

  svg {
    width: 20px;
    height: 20px;
    fill: transparent;
    stroke: #000;
  }

  &.active {
    svg {
      fill: #000;
    }
  }
}

.searchBtn {
  &.position-absolute {
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }
}
.shopTypeBtn {
  width: 37px;
  height: 37px;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    svg {
      fill: #000;
    }
  }
  svg {
    width: 18px;
    height: 18px;
    fill: #8c8c8c;
  }
  &.active {
    border-color: #000;
    svg {
      fill: #000;
    }
  }
}