/* Hamburger Menu */
.hamburger {
  align-self: center;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 6px;
  padding-bottom: 5px;
  cursor: pointer;
  position: relative;
  // transition: background 0.2s linear;  
  display: none;

  @media (max-width: 1199px) {
    display: flex;
  }
}

.hamburger div {
  align-self: flex-start;
  height: 1px;
  width: 100%;
  background: #fff;
  border-radius: 0;
  &.bottom-bun {
    width: calc(100% - 6px);
  }
}

.hamburger .meat {
  width: 100%;
}

.top-bun.active,
.meat.active,
.bottom-bun.active {
  opacity: 0;
}

.burgerW {
  -ms-flex: 1 0 0px;
  flex: 1 0 0;
  display: none;
  @media(max-width: 1199px){
    display: block;
  }
}
