// Header
.header {
  transition: background-color .2s linear;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 2;
  padding-top: 28px;
  padding-bottom: 28px;
  @media(max-width: 991px){
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .container {
    position: relative;
    z-index: 1;
  }

  &W {
    display: flex;
    align-items: center;
    column-gap: 30px;
    @media(max-width: 1600px){
      column-gap: 20px;
    }
  }

  &Nav {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0px;
    flex: 1 0 0;
    @media(max-width: 1199px){
      display: none;
    }

    &>ul {
      display: flex;
      align-items: center;
      column-gap: 40px;
      @media(max-width: 1600px){
        column-gap: 20px;
      }

      &>li {
        &>a {
          text-transform: uppercase;
          letter-spacing: 0.05em;
          padding-top: 3px;
          padding-bottom: 3px;
          display: flex;
          border-bottom: 1px solid transparent;
          transition: border-color .2s linear;
          @media(max-width: 1400px){
            font-size: 13px;
          }

          &.active {
            border-color: #000;
          }

          &:hover {
            border-color: #000;
          }
        }
      }
    }
  }

  &Logo {
    &:hover {
      opacity: .8;
    }

    svg {
      width: 80px;
      height: 24px;
      @media(max-width: 575px){
        width: 67px;
      }
    }
  }

  &Action {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0px;
    flex: 1 0 0;

    .searchW {
      right: 145px;
      display: none;

      &.active {
        display: block;
        -webkit-animation: shows 0.2s;
        animation: shows 0.2s;
      }

      .formInput {
        width: 350px;

        &::placeholder {
          color: #000;
        }

        &.border-b {
          border-bottom: 1px solid #e9e9e9;
        }
      }
    }

    ul {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      column-gap: 25px;
      position: relative;
      z-index: 1;
      width: fit-content;
      margin-left: auto;
      @media(max-width: 575px){
        column-gap: 10px;
      }

      li {
        &.active {
          a {
            position: relative;
            display: flex;

            &::after {
              content: '';
              display: block;
              width: 7px;
              height: 7px;
              background-color: #000;
              border-radius: 50%;
              position: absolute;
              top: 0;
              right: 0;
            }
          }
        }

        a,
        button {

          svg {
            width: 24px;
            height: 24px;
            fill: transparent;
            stroke: var(--main-color);
          }
        }
      }
    }
  }

  &.active {
    background-color: #fff;

    .headerNav {
      ul {
        li {
          a {
            color: #000;

            &.active {
              border-color: #000;
            }

            &:hover {
              border-color: #000;
            }
          }
        }
      }
    }

    .headerLogo {
      svg {
        stroke: #000;
        fill: #000;
      }
    }

    .headerAction {
      .searchW {
        .formInput {
          color: #000;

          &::placeholder {
            color: #000;
          }
        }
      }

      ul {
        li {
          &.active {
            a {
              &::after {
                background-color: #000;
              }
            }
          }

          a,
          button {
            svg {
              stroke: #000;
            }
          }
        }
      }
    }
  }

  &Main {
    .headerNav {
      &>ul {
        &>li {
          &>a {
            color: #fff;

            &.active {
              border-color: #fff;
            }

            &:hover {
              border-color: #fff;
            }
          }
        }
      }
    }

    .headerLogo {
      svg {
        stroke: #fff;
        fill: #fff;
      }
    }

    .headerAction {
      .searchW {
        .formInput {
          color: #fff;

          &::placeholder {
            color: #fff;
          }
        }
      }

      ul {
        li {
          &.active {
            a {
              &::after {
                background-color: #fff;
              }
            }
          }

          a,
          button {
            svg {
              stroke: #fff;
            }
          }
        }
      }
    }
  }

  .sub-menu {
    background-color: #fff;
    position: fixed;
    top: 84px;
    left: 0;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    display: none;

    &.active {
      display: block;
      -webkit-animation: shows 0.2s;
      animation: shows 0.2s;
    }

    &-nav {
      ul {
        flex-direction: column;
        align-items: flex-start;
        max-height: 450px;
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        column-gap: 50px;

        li {
          &:not(:last-child) {
            margin-bottom: 15px;
          }

          a {
            color: #000;
            border-bottom: 1px solid transparent;
            transition: border-color .2s linear;
            text-transform: uppercase;

            &:hover {
              border-color: #000;
            }
          }
        }
      }
    }
  }
}

.sub-menu-cat {
  display: flex;
  column-gap: 20px;
}

.sub-menu-cat-item-image {
  width: 300px;
  height: 400px;
  display: block;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.sub-menu-wrap {
  display: flex;
  justify-content: space-between;
  column-gap: 50px;
}

.headerOverlay {
  position: fixed;
  top: 84px;
  left: 0;
  width: 100%;
  height: calc(100% - 84px);
  background-color: rgba($color: #000000, $alpha: .5);
  display: none;

  &.active {
    display: block;
    -webkit-animation: shows 0.2s;
    animation: shows 0.2s;
  }
}
.headerActionSearchItem {
  @media(max-width: 1199px){
    display: none;
  }
}