.productSliderW {
  display: flex;
  column-gap: 4px;
  align-items: center;

  .navArrow {
    @media(max-width: 991px) {
      display: none;
    }
  }
}

.productSlider {
  width: 100%;
  padding-right: 10px;
  margin-right: -10px;
  padding-left: 10px;
  margin-left: -10px;

  @media(max-width: 991px) {
    padding-left: 5px;
    padding-right: 5px;
  }

  @media(max-width: 575px) {
    overflow: visible;
    padding-left: 10px;
    padding-right: 10px;
  }

  .swiper-pagination {
    display: none;

    @media(max-width: 991px) {
      display: flex;
      justify-content: center;
      position: relative;
      bottom: unset;
      margin-top: 15px;
    }
  }

}

.productCard {
  &Img {
    display: block;
    width: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform .2s linear;

      &:hover {
        transform: scale(1.01);
      }
    }

    &W {
      display: flex;
      margin-bottom: 15px;
      height: 475px;
      position: relative;

      @media(max-width: 1600px) {
        height: 440px;
      }

      @media(max-width: 1400px) {
        height: 365px;

      }

      @media(max-width: 1400px) {
        margin-bottom: 10px;
      }

      @media(max-width: 991px) {
        margin-bottom: 10px;
      }

      @media(max-width: 575px) {
        height: 60vw;
      }
    }
  }

  &Title {
    margin-bottom: 10px;
    display: flex;
    font-size: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    @media(max-width: 1400px) {
      font-size: 13px;
    }

    @media(max-width: 991px) {
      margin-bottom: 5px;
    }

    &:hover {
      color: #757575;
      opacity: .8;
    }
  }

  &Price {
    font-size: 15px;
    color: #757575;
    display: flex;
    gap: 10px;

    @media(max-width: 1400px) {
      font-size: 14px;
    }

    .price-old {
      font-weight: 300;
      font-size: 15px;
      text-decoration: line-through;
      color: #757575;
      opacity: .6;

      @media(max-width: 991px) {
        font-size: 14px;
      }
    }
  }

  &Tags {
    position: absolute;
    right: -7px;
    top: 13px;

    @media(max-width: 1400px) {
      right: -5px;
      top: 8px;
    }

    @media(max-width: 991px) {
      top: 5px;
      right: 5px;
    }

    ul {
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      row-gap: 8px;

      @media(max-width: 991px) {
        row-gap: 5px;
      }

      li {
        background-color: #000;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 12px;
        line-height: normal;
        text-transform: uppercase;
        width: fit-content;
        padding: 7px;

        @media(max-width: 1400px) {
          font-size: 10px;
          line-height: 12px;
          padding: 5px;
        }

      }
    }
  }
}

.wishlistGrid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 28px;
  row-gap: 60px;

  @media(max-width: 1400px) {
    row-gap: 30px;
    column-gap: 20px;
  }

  @media(max-width: 1199px) {
    column-gap: 15px;
    row-gap: 20px;
  }

  @media(max-width: 767px) {
    column-gap: 10px;
  }

  .productCard {
    grid-column: 3 span;

    @media(max-width: 1199px) {
      grid-column: 4 span;
    }

    @media(max-width: 767px) {
      grid-column: 6 span;
    }
  }
}

.shopList {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 28px;
  row-gap: 60px;

  @media(max-width: 1400px) {
    row-gap: 30px;
    column-gap: 20px;
  }

  @media(max-width: 1199px) {
    column-gap: 15px;
    row-gap: 20px;
  }

  @media(max-width: 767px) {
    column-gap: 10px;
    row-gap: 15px;
  }

  .productCard {
    grid-column: 3 span;

    @media(max-width: 1199px) {
      grid-column: 4 span;
    }

    @media(max-width: 991px) {
      grid-column: 6 span;
    }
  }

  &--three {
    .productCard {
      grid-column: 4 span;

      &Img {
        &W {
          height: 780px;

          @media(max-width: 1600px) {
            height: 600px;
          }

          @media(max-width: 1400px) {
            height: 500px;
          }
        }
      }
    }
  }
}

.shop-action {
  display: flex;
  column-gap: 50px;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 30px;
  background: #fff;
  z-index: 1;
  position: sticky;
  top: 79px;

  @media(max-width: 1400px) {
    margin-bottom: 15px;
    top: 64px;
  }

  @media(max-width: 991px) {
    flex-direction: column;
    row-gap: 10px;
    padding-bottom: 10px;
    top: 54px;
    padding-top: 2px;
  }
}

.shopNav {
  @media(max-width: 575px) {
    width: calc(100% + 20px);
    overflow-x: scroll;
    margin-left: -10px;
    padding-left: 10px;
    margin-right: -10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
  }

  ul {
    display: flex;
    column-gap: 5px;
    row-gap: 5px;
    flex-wrap: wrap;

    @media(max-width: 575px) {
      flex-wrap: nowrap;
    }

    li {

      &.active {
        a {
          border-color: #000;
        }
      }

      a {
        font-size: 14px;
        line-height: normal;
        text-transform: uppercase;
        height: 37px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 12px;
        padding-right: 12px;
        border: 1px solid transparent;
        transition: border-color .2s linear;

        @media(max-width: 1400px) {
          font-size: 13px;
          height: 32px;
        }

        @media(max-width: 767px) {
          font-size: 12px;
          height: 31px;
        }

        &:hover {
          border-color: #000;
        }
      }
    }
  }
}