.tabs {
  &__nav {
    display: flex;
    column-gap: 4px;
    width: fit-content;
    border-bottom: 1px solid #e9e9e9;
    margin-bottom: 20px;

    &-btn {
      padding-bottom: 10px;
      border-bottom: 1px solid transparent;    
      color: #757575;
      text-transform: uppercase;
      @media(max-width: 1400px){
        font-size: 13px;
      }
      @media(max-width: 991px){
        font-size: 14px;
      }
      &:hover {
        color: #000;
      }

      &--active {
        background-color: var(--primary);
        color: #000;
        border-color: #000;
      }
    }
  }

  &__panel {
    display: none;

    &--active {
      display: block;
    }
  }
}